@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --text: 0 0% 100%;
  --primary: 0 100% 50%;
  --highlight: 0 0% 100%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--text));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.05em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

